<div class="page-header">
    <h3>Definitie</h3>
</div>
<p><b>Creditul imobiliar / ipotecar</b> este destinat finantarii oricarui tip de proiect imobiliar: cumparare, constructie, terminare, extindere, modernizare, achitare sulta.</p>
<p>Clientul poate obtine un credit suplimentar in valoare de pana la 20% din valoarea creditului initial pentru acoperirea unor cheltuieli conexe proiectului imobiliar: cheltuieli cu notarul, cu evaluarea, achizitionare mobila, etc.)</p>
<div class="page-header">
    <h3>Caracteristici</h3>
</div>
<p><b>Moneda:</b> LEI, EUR, USD</p>
<p><b>Durata:</b> min. 10 ani, max. 30 ani
<p><b>Perioada de gratie partiala</b>: maxim 6 luni (pentru terminare) / 12 luni (pentru constructiii) / 24 luni (pentru creditele ipotecare ANL)
<p><b>Valoarea creditului</b>:
<ul>
    <li>minim: 15.000 EUR (echivalent in LEI, USD)</li>
    <li>fara limita maxima</li>
</ul>
<p><b>Tip dobanda:</b> indexabila</p>
<p><b>Rambursare:</b> rate lunare egale sau rate lunare degresive</p>
<p><b>Co-imprumutati:</b> maxim 3</p>
<p><b>Asigurare:</b>
<p>Clientul va incheia:</p>
<ul>
    <li>o polita de asigurare extinsa pentru imobilul ipotecat in vederea protejarii impotriva riscurilor</li>
    <li>o asigurare de viata pentru a-l proteja pe el si pe cei dragi impotriva evenimentelor neprevazute care pot aparea pe parcursul derularii creditului</li>
    <li>asigurare privind riscul de nefinalizare a constructiei (pentru constructii, terminari, extinderi la solicitarea expresa a bancii)</li>
</ul>
<p>Politele se incheie in momentul semnarii contractului de credit pentru intreaga perioada de creditare.</p>
<p><b>Garantii:</b></p>
<ul>
    <li>ipoteca imobiliara asupra imobilului care constituie obiectul creditului sau a altor imobile, aflate in proprietate solicitantului sau a unor terti (in functie de tipul creditului)</li>
    <li>ipoteca mobiliara asupra conturilor bancare</li>
    <li>ipoteca mobiliara asupra creantelor</li>
    <li>garanti (max. 3) in cazul in care clientul nu opteaza pentru asigurarea de viata oferita de societatea pentru care banca actioneaza ca agent de intermediere sau in cazul in care clientul prezinta un grad ridicat de risc in capacitatea de rambursare a creditului</li>
</ul>
<div class="page-header">
    <h3>Documente</h3>
</div>
<p>Documente necesare obtinerii creditului:</p>
<ul>
    <li>act de identitate si cerificat de casatorie (daca este cazul)</li>
    <li>fisa fiscala</li>
    <li>adeverinta de venit pe model BRD si unul dintre urmatoarele 3 documente:</li>
    <ul>
        <li>ultimii 3 fluturasi de salariu / copie dupa contractul de munca (pentru salarii nedomiciliate)</li>
        <li>ultimul talon de pensie / alte documente, in functie de tipul venitului</li>
        <li>actul de proprietate asupra imobilului care constituie obiectul creditului si raportul de evaluare intocmit anterior</li>
    </ul>
</ul>