<div class="page-header">
    <h3>Definitie</h3>
</div>
<p><b>Creditele de refinantare</b> permit refinantarea / consolidarea datoriilor in stoc (unul sau mai multe credite), ale titularului sau ale sotului / sotiei, de la una sau mai multe banci.</p>
<div class="page-header">
    <h3>Caracteristici</h3>
</div>
<p><b>Oferta de refinantare cuprinde:</b></p>
<ul>
    <li>Linii de credit care permit refinantarea unei alte linii de credit (DAC sau card de credit):</li>
    <ul>
        <li><b>DAC ReStart</b>
            <ul>
                <li>Durata: 2 ani</li>
                <li>Valoare:
                    <ul>
                        <li>min: 100 EUR (echiv. in LEI, USD)</li>
                        <li>max: 15.000 EUR (echiv. in LEI, USD)</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><b>Punct Card ReStart</b>
            <ul>
                <li>Durata: 2 ani</li>
                <li>Valoare:</li>
                <ul>
                    <li>min: 100 EUR (echiv. in LEI)</li>
                    <li>max: 5.000 EUR (echiv. in LEI)</li>
                </ul>
            </ul>
        </li>
    </ul>
    <li>Credite care permit refinantarea oricarui tip de credit / leasing acordat de o banca sau de un IFN:</li>
    <ul>
        <li><b>Expresso ReStart</b></li>
        <ul>
            <li>Valoare:</li>
            <ul>
                <li>min: 200 EUR (echiv. in LEI)</li>
                <li>max: 20.000 EUR (echiv. in LEI)</li>
            </ul>
        </ul>
        <li><b>Expresso NonStop ReStart</b></li>
        <ul>
            <li>Valoare:</li>
            <ul>
                <li>min: 500 EUR (echiv. in LEI)</li>
                <li>fara limita maxima</li>
            </ul>
        </ul>
        <li><b>Habitat ReStart</b></li>
        <ul>
            <li>Valoare:</li>
            <ul>
                <li>min: 500 EUR (echiv. in LEI, USD)</li>
                <li>max: in functie de valoarea creditelor de refinantat si de venit</li>
            </ul>
        </ul>
    </ul>
</ul>
<div class="page-header">
    <h3>Avantaje</h3>
</div>
<p><b>Accesibilitate:</b></p>
<ul>
    <li>Gruparea tuturor ratelor intr-una singura, mai mica</li>
    <li>Posibilitatea obtinerii unei sume suplimentare de bani pentru noile proiecte ale clientului</li>
</ul>
<p><b>Conditii de cost avantajoase:</b></p>
<ul>
    <li>Comision analiza dosar 0 daca se refinanteaza un credit de la alta banca si sunt veniturile domiciliate la BRD</li>
</ul>