<div class="page-header">
    <h3>Definitie</h3>
</div>
<p><b>Creditul Prima Casa</b> este destinat finantarii unui proiect imobiliar de tipul: achizitie locuinte finalizate, nefinalizate si noi, constructie locuinte benefiar individual sau asociatie fara personalitate juridica de minim 2 beneficiari.</p>
<h3>Avantaje oferite de creditul Prima Casa</h3>
<p><b>Costuri competitive:</b></p>
<ul>
    <li>una dintre cele mai mici dobanzi de pe piata</li>
    <li>avans incepand de la 5%</li>
    <li>0 comision analiza dosar</li>
    <li>0 comision de administrare lunara</li>
    <li>0 comision de rambursare anticipata</li>
</ul>
<p><b>Accesibilitate:</b></p>
<ul>
    <li>gama larga de venituri luate in considerare la evaluarea capacitatii de rambursare: salarii, pensii, venituri din activitati independente, chirii, dividende, dobanzi la depozite, venituri din drepturi de autor, etc.</li>
    <li>posibilitatea prezentarii a maxim 3 co-imprumutati</li>
</ul>
<p><b>Flexibilitate:</b></p>
<ul>
    <li>perioada de creditare adaptata capacitatii de rambursare a clientului, de pana la 30 ani</li>
    <li>dobanda diferentiata in functie de perioada</li>
    <li>perioada de gratie partiala de pana la 18 luni in care platesc doar dobanda, comisioanele si asigurarile (cuprinsa intre data primei trageri si data efectuarii receptiei la terminarea lucrarilor de constructie) doar pentru constructii</li>
    <li>clientul poate opta pentru tipul de rambursare dorit: in rate egale sau descrescatoare</li>
</ul>
<div class="page-header">
    <h3>Caracteristici</h3>
</div>
<p><b>Moneda:</b> EUR</p>
<p><b>Durata:</b> min. 10 ani, max. 30 ani</p>
<p><b>Perioada de gratie partiala:</b> maxim 18 luni (doar pentru constructii)</p>
<p><b>Valoarea creditului:</b></p>
<ul>
    <li>minim: 1000 EUR</li>
    <li>maxim: 57.000 EUR (locuinte finalizate)</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;61.250 EUR (locuinte noi)</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;66.500 EUR (contructie locuinte beneficiar individual)</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;71.250 EUR (constructie locuinte, asociatie minim 2 beneficiari)</li>
</ul>       
<p><b>Tip dobanda :</b> indexabila</p>
<p><b>Rambursare :</b> rate lunare egale sau rate lunare degresive</p>
<p><b>Co-imprumutati :</b> maxim 3</p>
<p><b>Asigurare:</b></p>
<p>Clientul va incheia:</p>
<ul>
    <li>o polita de asigurare extinsa pentru imobilul ipotecat in vederea protejarii impotriva riscurilor obligatorie</li>
    <li>o asigurare de viata pentru a-l proteja pe el si pe cei dragi impotriva evenimentelor neprevazute care pot aparea pe parcursul derularii creditului facultativ</li>
    <li>asigurare a lucrarilor de constructii - montaj (doar pentru constructii)</li>
</ul>
<p>Politele se cesioneaza in favoarea Statului Roman si a BRD si se incheie in momentul semnarii contractului de credit pentru intreaga perioada de creditare.</p>
<p><b>Garantii:</b></p>
<ul>
    <li>ipoteca imobiliara asupra imobilului care constituie obiectul creditului</li>
    <li>ipoteca mobiliara asupra conturilor bancare</li>
    <li>ipoteca mobiliara asupra sumelor de bani blocate in cont</li>
    <li>ipoteca mobiliara asupra creantelor</li>
</ul>
<div class="page-header">
    <h3>Documente</h3>
</div>
<p><b>Documente pentru constituirea dosarului de credit:</b></p>
<ul>
    <li>Achizitie de locuinte finalizate</li>
    <li>Constructie de locuinte finalizate</li>
    <li>Cererea de credit</li>
    <li>Declaratia pe propria raspundere autentificata la notar, conform careia, la data de intrare in vigoare a Ordonantei de urgenta nr. 60/2009 (4 iunie 2009), titularul nu a detinut si nu detine in proprietate exclusiva sau impreuna cu sotul ori sotia nicio locuinta, indiferent de modul si de momentul in care a fost dobandita, fie detin in proprietate exclusiva sau impreuna cu sotul ori sotia cel mult o locuinta, dobandita prin orice alt mod decat prin Program, in suprafata utila mai mica de 50 m2.</li>
    <li>Documente care sa ateste veniturile realizate si fisa fiscala sau declaratia de venit pe anul anterior solicitarii creditului, depuse la Administratia Financiara (dupa caz).</li>
</ul>
<p><b>Documente care atesta obiectul creditului:</b></p>
<ul>
    <li>Precontract vanzare/cumparare pentru imobilul finantat, modalitatea de plata si valoarea avansului achitat (dupa caz)</li>
    <li>Actele de proprietate ale imobilului ce urmeaza a fi finantat prin credit</li>
    <li>Raportul de evaluare pentru imobilul ce urmeaza a fi finantat prin credit</li>
    <li>Dovada constituirii avansului</li>
    <li>Extras de carte funciara privind inscrierea proprietatii</li>
    <li>Polita de asigurare a imobilului finantat</li>
</ul>
<p><b>Documente necesare obtinerii creditului:</b></p>
<ul>
    <li>act de identitate si cerificat de casatorie (daca este cazul)</li>
    <li>fisa fiscala</li>
    <li>adeverinta de venit pe model BRD si unul dintre urmatoarele 3 documente: ultimii 3 fluturasi de salariu / copie dupa contractul de munca (pentru salarii nedomiciliate)</li>
    <li>ultimul talon de pensie / alte documente, in functie de tipul venitului</li>
    <li>actul de proprietate asupra imobilului care constituie obiectul creditului si raportul de evaluare intocmit anterior</li>
</ul>
