<div class="page-header">
    <h3>Definitie</h3>
</div>
<p><b>Creditul EXPRESSO pentru nevoi personale nenominalizate</b> este destinat finantarii oricarui tip de proiect personal, planificat sau neprevazut, fara a fi necesara justificarea destinatiei acestuia. </p>
<div class="page-header">
    <h3>Caracteristici</h3>
</div>
<p><b>Moneda:</b> LEI, EUR </p>
<p><b>Durata:</b> 5 ani</p>
<p><b>Perioada de gratie partiala:</b> maxim 6 luni (la alegerea clientului)</p>
<p><b>Valoarea creditului:</b></p>
<ul>
    <li>minim: 200 EUR (echivalent in LEI)</li>
    <li>maxim: 15.000 EUR (echivalent in LEI)</li>
</ul>
<p><b>Tip dobanda :</b></p>
<ul>
    <li>fixa (pentru creditele in LEI)</li>
    <li>indexabila (pentru creditele in EUR)</li>
</ul>
<p><b>Rambursare :</b> rate lunare egale sau rate lunare degresive</p>
<p><b>Co-imprumutati :</b> maxim 3</p>
<p><b>Asigurare:</b></p>
<p>Clientul va incheia o poli ta de asigurare de viata pentru a-l proteja pe el si pe cei dragi impotriva evenimentelor neprevazute care pot aparea pe parcursul derularii creditului. Polita se incheie in momentul semnarii contractului de credit pentru intreaga perioada de creditare.</p>
<p><b>Garantii:</b></p>
<ul>
    <li>ipoteca mobiliara asupra conturilor bancare</li>
    <li>garanti (max. 3) in cazul in care clientul nu opteaza pentru asigurarea de viata oferita de societatea pentru care banca actioneaza ca agent de intermediere sau in cazul in care clientul prezinta un grad ridicat de risc in capacitatea de rambursare a creditului</li>
    <li>asigurare de risc financiar pentru creditele in EUR</li>
</ul>
<div class="page-header">
    <h3>Documente</h3>
</div>
<p>Documente necesare obtinerii creditului:</p>
<ul>
    <li>act de identitate si cerificat de casatorie (daca este cazul)</li>
    <li>fisa fiscala</li>
    <li>adeverinta de venit pe model BRD si unul dintre urmatoarele 3 documente: ultimii 3 fluturasi de salariu / copie dupa contractul de munca (pentru salarii nedomiciliate)</li>
    <li>ultimul talon de pensie / alte documente, in functie de tipul venitului</li>
    <li>ultima factura de utilitati (la alegere dintre: telefon fix, telefon mobil, electricitate. apa, gaz, cablu TV), din care sa reiasa aceeasi adresa cu cea din actul de identitate</li>
</ul>