.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: orange;
}

.glyphicon.glyphicon-star.red {
    color: red;
}

.glyphicon.glyphicon-star.aqua {
    color: aqua;
}

/*body {*/
  /*background: url('images/base.jpg') no-repeat center center;*/
  /*background-size:cover;*/
/*}*/

