{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Companii{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Lista companiilor gasite</h1>
</div>
<div class="col-md-8">
    {% for company in companies.items %}
        <p>
            {{ company.name }}
        </p>
    {% endfor %}
{% if companies.has_prev %}<a href="{{ url_for('admin.list_companies', page=companies.prev_num) }}">&lt;&lt; Previous</a> | {% endif %}
{% if companies.has_next %}<a href="{{ url_for('admin.list_companies', page=companies.next_num) }}">Next &gt;&gt;</a>{% endif %}
</div>
{% endblock %}