{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Agencies{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Agentiile inregistrate</h1>
</div>
<div class="col-md-8">
    {% for agency in agencies.items %}
        <p>
            <a href="{{ url_for('admin.detail_agency', agency_id=agency.id) }}">{{ agency.name }} {{ agency.address }}</a>
        </p>
    {% endfor %}
{% if agencies.has_prev %}<a href="{{ url_for('admin.list_agencies', page=agencies.prev_num) }}">&lt;&lt; Previous</a> | {% endif %}
{% if agencies.has_next %}<a href="{{ url_for('admin.list_agencies', page=agencies.next_num) }}">Next &gt;&gt;</a>{% endif %}
</div>
{% endblock %}