<div class="col-md-8">
    {% if appointments %}
        Lista de programari pentru data: {{ specified_date }}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ora</th>
                    <th>Nume</th>
                    <th>Telefon</th>
                <tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr class='clickable-row' data-href='{{ url_for('agent.detail_appointment', appointment_id=appointment.id) }}'>
                    <td>{{ appointment.reserved_hour.strftime('%H:%M') }}</td>
                    <td>{{ appointment.name }}</td>
                    <td>{{ appointment.phone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Nici o programare pentru data: {{ specified_date }}
    {% endif %}
</div>

<script>
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>