{% extends "base.html" %}

{% block title %}Credit{% endblock %}

{% block page_content %}
    {% if current_user.is_authenticated %}
    <div class="page-header">
        <h1>Salut, {{ current_user.name }}!</h1>
    </div>
    <div class="container" id="agent_current_appointments">
    </div>
    {% else %}
    <div class="page-header">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    <h1>Credit</h1>
                </div>
                <div class="col-md-6">
                    <img width=400 height=200 src="{{ url_for('static', filename='images/base.jpg') }}">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-3">
            <ul class="nav nav-tabs nav-stacked tabs-left">
                <li class="active"><a data-toggle="tab" href="#credit1">Creditul imobiliar / ipotecar</a></li>
                <li><a data-toggle="tab" href="#credit2">Creditul Prima Casa</a></li>
                <li><a data-toggle="tab" href="#credit3">Creditul expresso (nevoi personale)</a></li>
            </ul>
        </div>
        <div class="col-xs-9">
            <div class="tab-content">
                <div id="credit1" class="tab-pane fade in active">
                    {% include 'credit/credit1.html' %}
                </div>
                <div  id="credit2" class="tab-pane fade">
                    {% include 'credit/credit2.html' %}
                </div>
                <div id="credit3" class="tab-pane fade">
                    {% include 'credit/credit3.html' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var agent_appointments = $( "#agent_current_appointments" );
    if (agent_appointments) {
        var currentDate = new Date();
        var year = currentDate.getFullYear();
        var month = currentDate.getMonth() + 1;
        var day = currentDate.getDate();
        console.log(currentDate);
        agent_appointments.load("/agent/list_current_appointments/list/" + year + "/" + month + "/" + day);
    }

</script>
{% endblock %}